$cor-principal-direito: #F39189;
$cor-principal-esquerdo: #046582;

@mixin reset {
    margin: 0;
    padding: 0;
}
@mixin direito ($principal, $secundario ){
    width: 50%;
    background-color: $principal;
    .texto{
        margin-top: 40%;
        text-align: center;
        font-size: 100px;
        color: $secundario;
        text-decoration: underline;
    }
}


body {
    @include reset;
}
    

.container{
    height: 100vh;
    display: flex;

    .esquerdo{
        @include direito($cor-principal-esquerdo, $cor-principal-direito);
    }
    .direito{
        @include direito($cor-principal-direito, $cor-principal-esquerdo);
    }
}
