@import '../abstract/variaveis';

nav{
    text-align: center;

    ul{
        li{
            display: inline-block;
            padding: 1rem;
            
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-titulos;
                transition: 0.1s;

                &:hover{
                    color: $cor-titulos-destaque;
                    border-bottom: 2px solid;
                }
            }
        }
    }
}