
// Fontes
$fonte-principal: 'Roboto', sans-serif;

//Fonte tamanho
$tamanho-titulos: 3rem;


// Cores
$cor-fundo:#F8EDE3;
$cor-texto:#D0B8A8;
$cor-titulos:#85586F;
$cor-titulos-destaque:#7B2869;

$cor-fundo-mensagem:#9A9483;

$cor-Secundaria:#DFD3C3;