html, body {
  font-family: "Roboto", sans-serif;
  background-color: #F8EDE3;
}

nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #85586F;
  transition: 0.1s;
}
nav ul li a:hover {
  color: #7B2869;
  border-bottom: 2px solid;
}

.banner {
  background: url(../imagens/banner.jpeg) 27% center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #DFD3C3;
  opacity: 0.9;
  border-radius: 50%;
  text-align: center;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #85586F;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #7B2869;
}
.banner .inner-banner:hover {
  transform: scale(1.01);
}

#servicos {
  margin-top: 5rem;
}
#servicos h4 {
  font-size: 1.2rem;
  color: #85586F;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
#servicos h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
  color: #7B2869;
}
#servicos .cards {
  display: flex;
  justify-content: space-evenly;
}
#servicos .cards .card {
  width: 30%;
  text-align: center;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
  border-bottom: 3px solid #DFD3C3;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #85586F;
}
#servicos .cards .card p {
  font-size: 1rem;
  font-weight: 300;
  color: #D0B8A8;
  line-height: 2rem;
}

#cupom {
  background-color: #DFD3C3;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #85586F;
}
#cupom .texto h2 {
  font-size: 1.7647058824rem;
  margin: 2em;
}
#cupom .input {
  margin: 0 auto;
  width: 50%;
  border-radius: 15px;
  border: 4px solid #85586F;
  background-color: #F8EDE3;
}
#cupom .input input {
  border-radius: 15px;
  height: 40px;
  border: none;
  width: 90%;
  outline: none;
  text-align: center;
  font-size: 26px;
  background-color: transparent;
}
#cupom .input:focus-within {
  border: 4px solid #7B2869;
  box-shadow: 1px 1px 8px #85586F;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 1.5em;
  outline: none;
  padding: 1em 2em;
  background-color: #F8EDE3;
  opacity: 0.9;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  color: #85586F;
  letter-spacing: 0.2em;
}
#cupom button:hover {
  transform: scale(1.02);
  color: #7B2869;
  border: 1px solid #7B2869;
  font-weight: bold;
}
#cupom button:active {
  background-color: #7B2869;
  color: #F8EDE3;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  border-top: 2px solid #85586F;
  padding: 1.2rem;
  background: linear-gradient(to left, #F8EDE3, #D0B8A8, #F8EDE3, #DFD3C3);
}
footer i {
  color: red;
}

.mensagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  background-color: #9A9483;
}
.mensagem .mensagem-img {
  width: 50%;
}
.mensagem .mensagem-img img {
  border-radius: 20%;
  max-width: 100%;
}
.mensagem .mensagem-descricao {
  width: 50%;
  text-align: center;
}
.mensagem .mensagem-descricao h3 {
  font-size: 3rem;
  color: #85586F;
}
.mensagem .mensagem-descricao h4 {
  font-size: 1.3636363636rem;
  color: #7B2869;
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 2px solid #7B2869;
}
.mensagem .mensagem-descricao p {
  color: #D0B8A8;
  line-height: 1em;
}/*# sourceMappingURL=style.css.map */